.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.login-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.login-label {
    font-size: 24px;
    margin-right: 20px;
}

.login-input {
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-button {
    font-size: 24px;
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
