.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 修改为 flex-start，向上对齐 */
    height: 100vh;
    padding-top: 50px; /* 添加上方内边距，将表单向上移动 */
}

.box-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 400px; /* 增加表单宽度 */
}

.login-title {
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}

.login-label {
    display: block;
    font-weight: bold;
}

.login-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.login-button,
.register-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover,
.register-button:hover {
    background-color: #45a049;
}
